body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.container {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center; 
}

#botaok {
    position: absolute;
    margin-left: 220px;
    display: block;
}

.tente {
    position: relative;
    margin-top: 11px;
}

#mensagens {
    margin-top: 20px; 
    text-align: center;
}

